<div class='mx-4'>
    <div class='row'>
        <div class="field">
            <%= f.label :magazine %>
            <%= f.select :magazine_id, options_from_collection_for_select(@magazines, 'id', 'name'), include_blank: "Select Magazine"%>
        </div>

        <div class="field">
            <%= f.label :position %>
            <%= f.select :position_id, options_from_collection_for_select(@positions, 'id', 'name'), include_blank: "Select Position"%>
        </div>
</div>