<div class='mx-4'>
  <div class="field">
    <%= f.label :oenologist_id %>
    <%= f.collection_select(:oenologist_id, @oenologists, :id, :name)%>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.number_field :grade, step: :any %>
  </div>

</div>